.column {
    background-color:beige;
    margin: 10px;
    border-style:double;
    align-self: start;
    align-items: stretch;
    width: 200px;
}

.row {
    background-color: white;
    display: flex;

    flex-direction: row;
}

